html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;
}

#tetris-canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  image-rendering: pixelated;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
